<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database" value="Data Source=192.168.1.26;Initial Catalog=DTSZamanlama;User Id=sa;Password=object;"/>
    <add key="SsisKlasor" value="E:\DatawareHouse\ETL_PROJECTS\PROD_SSIS_PACKAGES\"/>
    <add key="SsisPassword" value="etL.2017"/>
	  <add key="SSISFileList" value="E:\DWHDataFMService\SSISFileList.xml"/>
	  <add key="FileDefinitions" value="E:\DatawareHouse\.NetTool\FileDefinitions.xml"/>
	  <add key="HostInputs" value="E:\DatawareHouse\HostInputs\"/>
	  <add key="DTSInputs" value="E:\DatawareHouse\DTSInputs\"/>
    <!--MAIL-->
    <add key="MailSunucu" value="192.168.1.2"/>
    <add key="MailGonderen" value="DWH@paycore.com"/>
    <add key="MailKonusu" value="SSIS CALISTIR UYGULAMASI HATA"/>
    <add key="MailAliciSayi" value="1"/>
    <add key="MailAlici-1" value="cagatay.erdogdu@paycore.com"/>
    <add key="MailAlici-2" value="xxx@paycore.com"/>
  </appSettings>
</configuration>